:root {
  --primary-text-color: #212121;
  --title-text-color: #2196f3;
  --text-color: #757575;
  --hero-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
*,
*::before,
*::after {
  box-sizing: inherit;
}*/

body {
  background-color: var(--hero-color);
  font-family: Roboto, sans-serif;
  margin: 0;
  width: 100%;
  justify-content: center;
}

/*приминяем ко всем спискам*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*убираем подчёркивание текста*/
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

img {
  display: block; /*убираем зазор в 4 px*/
  max-width: 100%; /*растягивание не шире, чем оригинальный размер*/
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px; /*или padding-left: 15px; padding-right: 15px;*/
}

/*/////////////////////HEADER///////////////////*/
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.main-nav,
.site-nav {
  display: flex;
  align-items: center;
}
/*/ ///////////////LOGO////////////*/
.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.main-nav .logo {
  margin-right: 93px;
}
.logo-web {
  color: #000000;
}

/*.logo-web:hover,
.logo-web:focus {
  color: var(--title-text-color);
}*/

/*///////////////SITE-NAV/////////*/

.site-nav .item + .item /*альтернатива .site-nav .item:not(:last-child), но при использовании :last-child необходимо использовать - margin-right: 50px; */ {
  /*outline: 1px solid red;*/
  margin-left: 50px;
}
.site-nav .link {
  margin-top: 32px;
  margin-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--title-text-color);
}

/*///////////////SITE-AUTH/////////////*/
.site-auth {
  display: flex;
  margin-left: auto;
}
.site-auth .item  + .item /*альтернатива .site-auth .item:not(:last-child). Только делает последним не правый, а левый элемент (от первого левого, который не учитывается).*/ {
  margin-left: 50px;
}
.site-auth .auth-link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-auth .auth-link:hover,
.site-auth .auth-link:focus {
  color: var(--title-text-color);
}

/*Общее оформление текста*/

.section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 94px;
}
.products-title,
.team-title {
  padding-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Hero*/
.hero-section {
  display: flex;
  margin: auto;
  margin-bottom: 0;
  background-color: #2f303a;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.hero-section .container {
  display: block;
  justify-content: center;
  text-align: center; /*[HTML+CSS #30] Блочная модель/Flexbox. Q&A (26/11/2020) 1:48:21 https://www.youtube.com/watch?v=GezCqjS6SKo&feature=youtu.be*/
}

.hero-title {
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 252px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /*max-width: 696px;*/
  align-content: center;
}

/*Button*/
.button {
  color: var(--hero-color);
  background-color: var(--title-text-color);
  font-family: inherit;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;
  min-width: 50px;
  margin-top: 30px;
  margin-bottom: 200px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
}

.button:hover,
.button:focus {
  color: var(--title-text-color);
  background-color: var(--hero-color);
  font-family: inherit;
}

/*///////Наши преимуества(advantages)/////*/
/*advantages-title {}*/

.advantages-list {
  display: flex;
  flex-wrap: wrap; /*(29:42) https://www.youtube.com/watch?v=GezCqjS6SKo&feature=youtu.be*/
  margin-left: -10px;
  margin-top: -10px;
  margin-top: 96px;
  text-align: start;
  /*  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  flex-basis: calc(100% / 3 - 10px);*/
}

.advantages-list-item {
  display: inline-block;
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 10px;
}
.advantages-list-item:not(:first-child) {
  margin-left: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages-content {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

/*Product*/

/*Значение products-title в общем оформлении текста*/

.product-list {
  display: flex;
}

.product-list .item + .item {
  margin-left: 30px;
}

/*/////Team/////*/

/*Значение team-title в общем оформлении текста*/
.team-title {
  display: inline-block;
  margin-top: 94px;
}
.team-list {
  display: flex;
}
.team-list .item {
  display: inline-block;
  margin-bottom: 90px;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.teammate-img,
.teammate-position {
  margin-bottom: 30px;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.teammate-position {
  font-weight: 400;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-section {
  background-color: #f5f4fa;
  margin-bottom: 0px;
  width: 100%;
  box-sizing: none;
}
.team-list .item {
  background-color: var(--hero-color);
}
/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  margin-bottom: 20px;
}

.logo-footer-accent {
  color: #ffffff;
}

/*.logo-footer-accent:hover,
.logo-footer-accent:focus {
  color: var(--title-text-color);
}*/
.footer {
  background-color: #2f303a;
}
.footer-maps {
  color: var(--hero-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link {
  color: var(--footer-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .logo {
  margin-top: 30px;
}

.footer-address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

/*/////////////////////portfolio.html////////////////////////*/

/*filter*/
.filter-section {
  margin-bottom: 50px;
}

.filter-buttom-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 34px;
  padding-bottom: 8px;
}

.filter-button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  /*outline: 1px solid red;*/
  min-width: 50px;
  text-align: center;
  padding: 6px 22px;
  border-radius: 5px; /*задаёт округление кнопки*/
  border: 1px solid transparent;
  outline: none; /*убираем рамку*/
}

.filter-buttom-list .item + .item {
  margin-left: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--hero-color);
  background-color: var(--title-text-color);
  font-family: inherit;
}

.filter-list {
  display: flex;
  flex-wrap: wrap; /*Позволяем элементам перепрыгивать на другие строки, которые по умолчанию располагаются сверху вниз (вдоль поперечной оси).*/
}

.card-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.filter-list-item {
  width: calc(
    100%-60px / 3
  ); /*Модуль 3. Вебинар №6. Flexbox 1:00:00 (1:16:00)*/
  margin-bottom: 30px;
  margin-right: 30px;
} /*100%строки; 60px- суммарное значение 2 маржинов по 30px каждый в одной строке (2 маржина между 3-х элементов) / 3-количество элементов в строке*/

.filter-list-item:nth-child(3n) {
  margin-right: 0;
}
/*ИЛИ
width: 370px;
  margin-right: 30px;
}
.filter-list-item:nth-child(3n) {
  margin-right: 0;
}
.filter-list-item:nth-child(-n + 3) {
  margin-right: 0;*/

.filter-experience {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.filter-product {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
